workload=site.ycsb.workloads.CoreWorkload
recordcount=20000
operationcount=150000000
readallfields=false
fieldcount=20
fieldlength=20
readproportion=1.0
updateproportion=0.0
scanproportion=0
insertproportion=0
requestdistribution=uniform
